<div class="container">
  <h3 class='col-md-6'>My Goods</h3>
  <h3 class='col-md-6 right'>Order Total: {{cart.total | decimals}}</h3>
  <table class='table'>
    <tr>
      <td>Goods</td>
      <td>Quantity</td>
      <td>Subtotal</td>
    </tr>
      <tr ng-repeat='good in cart.goods | orderBy: price | filter: search'>
        <td>
          <h1>{{good.name}}</h1>
          <img class='img' ng-src="{{good.imageUrl}}" alt="works">
          <p><strong>Year: </strong>{{good.year}}</p>
          <p><strong>Categories: </strong><span  ng-repeat='category in good.categories'>{{category}}, </span></p>
          <p><strong>Rating: </strong>{{good.rating}}</p>
        </td>
        <td>
          <span ng-show='quantity'>{{good.quantity}}</span>
          <input type="number" name="amount" ng-hide='change' ng-model='newAmt'>
        </td>
        <td>
          {{good.price * good.quantity | decimals}}
        </td>
        <td>
          <button type="button" name="edit" ng-click='toggleInput()' ng-show='quantity'>Edit</button>
          <button type="button" name="edit" ng-click='editQuantity(good, $scope.newAmt)' ng-hide='change'>Save</button>
          <button type="button" name="remove" ng-click='removeGood(good)'>Remove</button>
        </td>
      </tr>
  </table>
</div>
