<!DOCTYPE html>
<html ng-app="grandmasGoods">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./style.css" charset="utf-8">
    <base href="/"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Content</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" ng-controller="OldGoods">
      <div class="row">
        <div class="col-md-3">
          <label for="category">Search By Category:</label>
            <select id="category" ng-model='category'>
              <option value="furniture">Furniture</option>
              <option value="music">Music</option>
              <option value="technology">Technology</option>
              <option value="decor">Decor</option>
              <option value="kithchen">Kitchen</option>
              <option value="old">Old</option>
              <option value="awesome">Awesome</option>
              <option value="toy">Toy</option>
              <option value="transportation">Transportation</option>
            </select>
        </div>
        <div class="col-md-3">
          <label class='control-label' for="search">Search By Name:</label>
            <input class='control-group' type="text" id='search' name="search" placeholder="Search" ng-model='search'>
        </div>
        <div class="col-md-3">
          <a href="/cart"><button type="button" name="button">Checkout | Bag: {{getItem()}}</button></a>
        </div>
        <div class="right">
          <label class='control-label'>Search By Price:</label>
            <select class="" ng-model="price">
              <option value="-price">Highest to Lowest</option>
              <option value="price">Lowest to Highest</option>
            </select>
        </div>
      </div>
    <div ng-view></div>
    </div>
    <script src="../app/app.js"></script>
    <script src="../app/controllers.js"></script>
    <script src="../app/filters.js"></script>
    <script src="../app/factory.js"></script>
    </script>
  </body>
</html>
